* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
    color: var(--paragraphs);
    position: relative;
    transition: background-color .5s ease-in-out;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background: var(--card-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color .5s ease-in-out;
}
.output{
    transition: background-color .5s ease-in-out;
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p.instructions {
    font-size: 14px;
    color: var(--paragraphs);
    margin-bottom: 20px;
}

.output {
    font-size: 18px;
    font-weight: 500;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: var(--card-bg);
    overflow-wrap: break-word;
}

#start-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background: var(--btn);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: .8;
    transition: unset;
}

/*COLOR THEME SLIDER*/
.right {
    height: fit-content;
    color: var(--paragraphs);
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.toggle {
    width: 4rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    padding: 5px;
    background-color: var(--toggle);
    display: flex;
    justify-content: left;
}

.slider {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: var(--background);
    transition: position 0.5s ease;
}

.light {
    --background: hsl(0, 0%, 100%);
    --top-bg-pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --toggle: hsl(230, 22%, 74%);
    --headings: hsl(230, 17%, 14%);
    --paragraphs: #000;
    --btn: #007bff;
}

.dark {
    --background: hsl(230, 17%, 14%);
    --top-bg-pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --toggle: #a1a1a1;
    --headings: hsl(0, 0%, 100%);
    --paragraphs: #f5f5f5;
    --btn: hsl(163, 72%, 41%);
}
